<h1>Panel administracyjny</h1>
<div>
<%= link_to "Dodaj nowy wpis", new_post_path, class: "btn" %>
<%= link_to "Edytuj lub usuń wpis", panel_admina_lista_path(type: "posts"), class: "btn" %>
<%= link_to "Dodaj role", new_role_path, class: "btn" %> 
<%= link_to "Edytuj lub usuń role", panel_admina_lista_path(type: "roles"),  class: "btn" %> 
<%= link_to "Zarządzaj użytkownikami", panel_admina_users_path,  class: "btn" %> 
</div>