<h2>Zmień swoje hasło</h2>
<div class="bd-example m-0">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nowe hasło", class: "form-label" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> znaków minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potwierdź nowe hasło", class: "form-label mt-3" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Zmień hasło", class: "btn mt-3" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
