<div class="bd-example m-0">
<%= form_with(model: role) do |form| %>
    <% if role.errors.any? %>
    <div style="color:rgb(226, 19, 54);">
      <h2>Liczba błędów do poprawy wynosi: <%= pluralize(role.errors.count, "") %></h2>
      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nazwa roli", class: "form-label d-block" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <h4 class="mt-2 mb-2">Rola ma mieć uprawienia do:</h4>

  <div class="form-check">
    <%= form.label :panelpriv, "Panel admina", class: "form-check-label" %>
    <%= form.checkbox :panelpriv, class: "form-check-input" %>
  </div>

  <div class="form-check">
    <%= form.label :postspriv, "Zarządzanie wpisami", class: "form-check-label" %>
    <%= form.checkbox :postspriv, class: "form-check-input" %>
  </div>

  <div class="form-check">
    <%= form.label :rolespriv, "Zarządzanie rolami", class: "form-check-label" %>
    <%= form.checkbox :rolespriv, class: "form-check-input" %>
  </div>

  <div class="form-check">
    <%= form.label :userspriv, "Zarządzanie użytkownikami", class: "form-check-label" %>
    <%= form.checkbox :userspriv, class: "form-check-input" %>
  </div>

  <div>
    <% if action == false or nil %>
      <%= form.submit "Zapisz zmiany", class: "btn mt-2" %>
    <% else %>
      <%= form.submit "Dodaj użytkownika", class: "btn mt-2" %>
    <% end %>
  </div>
<% end %>
</div>